<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <style>
        table,tr,th,td { border: black solid 1px}
    </style>
</head>
<body>
    <h1>게시판</h1>
    <table>
        <tr>
            <th>제목</th>
            <th>글쓴이</th>
            <th>날짜</th>
        </tr>
        <tr>
            <td>졸리다</td>
            <td>wkdrn8860@naver.com</td>
            <td>2022.03.17</td>
        </tr>
        <tr>
            <td>졸리다</td>
            <td>wkdrn8860@naver.com</td>
            <td>2022.03.17</td>
        </tr>
    </table>
    <a href="/board/write.do">글쓰기</a>
<!--    <img src="http://1.227.192.121:8000/images/sa.png" alt="dd"/>-->
</body>
</html>