<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/register.js" th:inline="javascript" defer></script>

    <link rel="stylesheet" href="/css/register.css">

</head>
<body>

    <h1>회원 가입</h1>
    <form id="registerForm" method="post">
        <div>
            <input id="userIdInput" name="userId" placeholder="아이디(이메일)" required/>
            <button id="emailAuthBtn" type="button">인증 메일 발송</button>
            <input id="confirmEmail" type="hidden"/>
        </div>
        <div id="emailAuthDiv">
            <input id="authKeyInput" name="emailAuthKey" placeholder="인증번호" maxlength="4" required/>
            <p id="successAuth">인증 되었습니다.</p>
            <p id="failureAuth">인증번호가 일치하지 않습니다.</p>
            <p id="defaultAuth">인증번호를 입력하세요.</p><span id="loading"></span>
        </div>
        <div>
            <input id="passwordInput" name="password" type="password" placeholder="비밀번호" required/>
        </div>
        <div>
            <input id="nameInput" name="userName" placeholder="이름" required/>
        </div>
        <div>
            <input id="phoneInput" name="phone" placeholder="전화번호" required/>
        </div>
        <button id="registerComplete" type="button">회원 가입</button>

    </form>


</body>
</html>