<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <style>
        table,tr,th,td { border: black solid 1px}
    </style>
</head>
<body>
    <h1>게시판</h1>
    <div th:replace="/fragment/layout.html :: fragment-body-menu"></div>
    <table>
        <tr>
            <th>제목</th>
            <th>작성자</th>
            <th>날짜</th>
        </tr>
        <tr th:each="x : ${list}">
            <td>
                <a th:href="'detail.do?articleId='+${x.id}" th:text="${x.title}"></a>
            </td>
            <td th:text="${x.writer}">wkdrn8860@naver.com</td>
            <td th:text="${x.regDt}">2022.03.17</td>
        </tr>
        <tr>
    </table>
    <a href="/article/write.do">글쓰기</a>
<!--    <img src="http://1.227.192.121:8000/images/sa.png" alt="dd"/>-->
</body>
</html>